<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit User' : 'Add User'"
    subheader="You can add or edit users"
  >
    <div class="p-grid mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              (onClick)="onSubmit()"
              icon="pi pi-plus"
              type="button"
              [label]="editMode ? 'Update' : 'Create'"
              styleClass="p-button-primary mr-2"
            ></p-button>
            <p-button
              (onClick)="goBack()"
              icon="pi pi-arrow-circle-left"
              type="button"
              label="Cancel"
              class="p-button-secondary"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        <form [formGroup]="form">
          <div class="formgrid grid">
            <div class="field col-4">
              <label for="name">Name</label>
              <input
                formControlName="name"
                id="name"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small *ngIf="user['name'].errors && isSubmitted" class="p-error"
                >Name is required</small
              >
            </div>
            <div class="field col-4">
              <label for="icon">Password</label>
              <input
                formControlName="password"
                id="password"
                type="password"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="user['password'].errors && isSubmitted"
                class="p-error"
                >Password is required</small
              >
            </div>
            <div class="field col-4">
              <label for="icon">Email</label>
              <input
                formControlName="email"
                id="email"
                type="email"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small *ngIf="user['email'].errors && isSubmitted" class="p-error"
                ><span *ngIf="user['email'].errors['required']"
                  >Email is required</span
                ><span *ngIf="user['email'].errors['email']"
                  >Email is Invalid</span
                ></small
              >
            </div>
            <div class="field col-4">
              <label for="icon">Phone</label><br>
              <p-inputMask
                mask="(999) 999-9999"
                formControlName="phone"
                placeholder="(999) 999-9999"
              ></p-inputMask>
              <small *ngIf="user['phone'].errors && isSubmitted" class="p-error"
                >Phone is required</small
              >
            </div>
            <div class="field col-4">
              <label for="icon">isAdmin</label><br>
              <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
            </div>
            <div class="field col-4">
              <label for="icon">Street</label>
              <input
                formControlName="street"
                id="street"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>
            <div class="field col-4">
              <label for="icon">Apartment</label>
              <input
                formControlName="apartment"
                id="apartment"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>
            <div class="field col-4">
              <label for="icon">Zip</label>
              <input
                formControlName="zip"
                id="zip"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>
            <div class="field col-4">
              <label for="icon">City</label>
              <input
                formControlName="city"
                id="city"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>
            <div class="field col-4">
              <label for="icon">Country</label><br>
              <p-dropdown
                [options]="countries"
                formControlName="country"
                optionLabel="name"
                optionValue="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a country"
              ></p-dropdown>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
